<nav class="w-screen fixed top-0 bg-white h-16 border-b border-gray-300 shadow-md flex flex-row items-center p-8 justify-between">
    <h1 class="hover:text-red-600 cursor-pointer m-0" routerLink="recipes">Food</h1>
    <div class="nav-menu flex flex-row gap-10 items-baseline mr-10">
        <a routerLink="categories" class="hover:text-red-600">Categories</a>
        <a routerLink="recipes" class="hover:text-red-600">Recipes</a>
        <a routerLink="recipes/create" class="hover:text-red-600">Add Recipe</a>

    </div>
</nav>
